.nav-item.active a {
    display: flex; /* Para alinear el ícono y el texto */
    align-items: center;
    padding: 10px 15px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    background-color: #c8e6c9; /* Fondo verde claro */
    color: #2e7d32; /* Texto verde oscuro */
    font-weight: bold; /* Negrita */
    box-shadow: inset 0 0 0 1px #c8e6c9, 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajustar borde y sombra */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-item.active a i {
     margin-right: 10px; /* Espaciado entre ícono y texto */
     font-size: 20px; /* Tamaño del ícono */
}
