html, body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.gfg {
    height: 50px;
    width: 50px;
}

.mynav {
    color: #F5F5F5;
}

    .mynav li a {
        color: #F5F5F5;
        text-decoration: none;
        width: 100%;
        display: block;
        border-radius: 5px;
        padding: 8px 5px;
    }

        .mynav li a.active {
            background: rgba(245, 245, 245, 0.3);
        }

        .mynav li a:hover {
            background: rgba(245, 245, 245, 0.3);
        }

        .mynav li a i {
            width: 25px;
            text-align: center;
        }

.notification-badge {
    background-color: rgba(245, 245, 245, 0.8);
    float: right;
    color: #2C3E50;
    font-size: 14px;
    padding: 0px 8px;
    border-radius: 2px;
}

.table table tbody tr td a,
.table table tbody tr td span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #2980B9;
    text-decoration: none;
    background-color: #F7F9FB;
    border: 1px solid #B0BEC5;
}

.table table > tbody > tr > td > span {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #2980B9;
    border-color: #2980B9;
}

.table table > tbody > tr > td:first-child > a,
.table table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.table table > tbody > tr > td:last-child > a,
.table table > tbody > tr > td:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.table table > tbody > tr > td > a:hover,
.table table > tbody > tr > td > span:hover,
.table table > tbody > tr > td > a:focus,
.table table > tbody > tr > td > span:focus {
    z-index: 2;
    color: #154360;
    background-color: #E8EFF1;
    border-color: #B0BEC5;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.left-section {
    background: url('') no-repeat center center;
    background-size: cover;
}

.right-section {
    background-color: #2c3e50; /* Gris oscuro elegante */
    color: white; /* Texto blanco para contraste */
}

.login-form {
    width: 300px;
}

    .login-form h2 {
        margin-bottom: 20px;
    }

    .login-form label {
        margin-top: 10px;
    }

    .login-form input {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
    }

    .login-form a {
        display: block;
        margin-top: 10px;
        text-align: right;
        color: #3498db;
    }

.container {
    border: 1px solid #000;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-check {
    display: inline-block;
    margin-right: 20px;
}

.btn-group {
    margin-top: 20px;
}

.image-placeholder {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #e9ecef;
    border-radius: 8px;
}

h5 {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}


.label-title {
    font-size: 2.5em; /* Tamaño de fuente grande */
    font-weight: bold; /* Negrita */
    color: #4A90E2; /* Color azul atractivo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna y legible */
}
